USE [master]
GO
/****** Object:  Database [PruebaTecnicaDB]    Script Date: 30/05/2026 05:30:29 p. m. ******/
CREATE DATABASE [PruebaTecnicaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaTecnicaDB', FILENAME = N'/var/opt/mssql/data/PruebaTecnicaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaTecnicaDB_log', FILENAME = N'/var/opt/mssql/data/PruebaTecnicaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaTecnicaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaTecnicaDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_AddLogin]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AddLogin]
(
    @User_id INT,
    @Extension INT,
    @TipoMov INT,
    @Fecha DATETIME
)
AS
BEGIN
    IF NOT EXISTS
    (
        SELECT 1
        FROM ccUsers
        WHERE User_id = @User_id
    )
    BEGIN
        RAISERROR('El usuario no existe en ccUsers.',16,1);
        RETURN;
    END

    IF @TipoMov NOT IN (0,1)
    BEGIN
        RAISERROR('TipoMov solo puede ser 0 (Logout) o 1 (Login).',16,1);
        RETURN;
    END
    IF @Fecha IS NULL
    BEGIN
        RAISERROR('La fecha es obligatoria.',16,1);
        RETURN;
    END

    IF @Fecha > GETDATE()
    BEGIN
        RAISERROR('La fecha no puede ser mayor a la fecha actual.',16,1);
        RETURN;
    END

    DECLARE @UltimoMovimiento INT;

    SELECT TOP 1
        @UltimoMovimiento = TipoMov
    FROM ccloglogin
    WHERE User_id = @User_id
    ORDER BY Fecha DESC;

    IF @UltimoMovimiento IS NULL
    BEGIN
        IF @TipoMov = 0
        BEGIN
            RAISERROR(
                'No puede registrarse un Logout sin un Login previo.',
                16,
                1
            );
            RETURN;
        END
    END
    IF @UltimoMovimiento = 1
       AND @TipoMov = 1
    BEGIN
        RAISERROR(
            'No puede registrarse un Login sin haber realizado Logout previamente.',
            16,
            1
        );
        RETURN;
    END

    IF @UltimoMovimiento = 0
       AND @TipoMov = 0
    BEGIN
        RAISERROR(
            'No puede registrarse un Logout consecutivo.',
            16,
            1
        );
        RETURN;
    END

    INSERT INTO ccloglogin
    (
        User_id,
        Extension,
        TipoMov,
        Fecha
    )
    VALUES
    (
        @User_id,
        @Extension,
        @TipoMov,
        @Fecha
    );

    SELECT
        SCOPE_IDENTITY() AS Id,
        'Registro guardado correctamente' AS Mensaje;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AverageLoginTimeByMonth]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AverageLoginTimeByMonth]
AS
BEGIN

    WITH Movimientos AS
    (
        SELECT
            User_id,
            TipoMov,
            Fecha,

            LEAD(TipoMov) OVER
            (
                PARTITION BY User_id
                ORDER BY Fecha
            ) AS SiguienteTipoMov,

            LEAD(Fecha) OVER
            (
                PARTITION BY User_id
                ORDER BY Fecha
            ) AS FechaLogout

        FROM ccloglogin
    ),

    Sesiones AS
    (
        SELECT
            User_id,

            YEAR(Fecha) AS Anio,

            MONTH(Fecha) AS Mes,

            DATEDIFF
            (
                SECOND,
                Fecha,
                FechaLogout
            ) AS SegundosSesion

        FROM Movimientos

        WHERE TipoMov = 1
        AND SiguienteTipoMov = 0
    )

    SELECT

        User_id,

        DATENAME(MONTH, DATEFROMPARTS(Anio, Mes, 1))
        AS MesNombre,

        Anio,

        CONCAT
        (
            AVG(SegundosSesion) / 86400,
            ' días, ',
            (AVG(SegundosSesion) % 86400) / 3600,
            ' horas, ',
            ((AVG(SegundosSesion) % 3600) / 60),
            ' minutos, ',
            (AVG(SegundosSesion) % 60),
            ' segundos'
        ) AS PromedioLogueo

    FROM Sesiones

    GROUP BY
        User_id,
        Anio,
        Mes

    ORDER BY
        User_id,
        Anio,
        Mes

END

GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteLogin]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteLogin]
(
    @Id INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE
    FROM ccloglogin
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllLogins]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllLogins]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        User_id,
        Extension,
        TipoMov,
        Fecha
    FROM ccloglogin
    ORDER BY Fecha DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetWorkedHoursReport]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetWorkedHoursReport]
AS
BEGIN

    WITH Movimientos AS
    (
        SELECT
            l.User_id,
            l.TipoMov,
            l.Fecha,

            LEAD(l.TipoMov) OVER
            (
                PARTITION BY l.User_id
                ORDER BY l.Fecha
            ) AS SiguienteTipoMov,

            LEAD(l.Fecha) OVER
            (
                PARTITION BY l.User_id
                ORDER BY l.Fecha
            ) AS FechaLogout

        FROM ccloglogin l
    ),

    Sesiones AS
    (
        SELECT
            User_id,

            DATEDIFF
            (
                SECOND,
                Fecha,
                FechaLogout
            ) AS SegundosTrabajados

        FROM Movimientos

        WHERE TipoMov = 1
        AND SiguienteTipoMov = 0
    )

    SELECT

        u.Login,

        CONCAT
        (
            u.Nombres,
            ' ',
            u.ApellidoPaterno,
            ' ',
            u.ApellidoMaterno
        ) AS NombreCompleto,

        a.AreaName,

        SUM(s.SegundosTrabajados) / 3600.0
        AS TotalHorasTrabajadas

    FROM Sesiones s

    INNER JOIN ccUsers u
        ON u.User_id = s.User_id

    INNER JOIN ccRIACat_Areas a
        ON a.IDArea = u.IDArea

    GROUP BY

        u.Login,
        u.Nombres,
        u.ApellidoPaterno,
        u.ApellidoMaterno,
        a.AreaName

    ORDER BY u.Login

END


GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateLogin]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateLogin]
(
    @Id INT,
    @Extension INT,
    @TipoMov INT,
    @Fecha DATETIME
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ccloglogin
    SET
        Extension = @Extension,
        TipoMov = @TipoMov,
        Fecha = @Fecha
    WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_UserLeastLoggedTime]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UserLeastLoggedTime]
AS
BEGIN

    WITH Movimientos AS
    (
        SELECT
            User_id,
            TipoMov,
            Fecha,

            LEAD(TipoMov) OVER
            (
                PARTITION BY User_id
                ORDER BY Fecha
            ) AS SiguienteTipoMov,

            LEAD(Fecha) OVER
            (
                PARTITION BY User_id
                ORDER BY Fecha
            ) AS FechaLogout

        FROM ccloglogin
    ),

    Sesiones AS
    (
        SELECT
            User_id,

            DATEDIFF
            (
                SECOND,
                Fecha,
                FechaLogout
            ) AS SegundosSesion

        FROM Movimientos

        WHERE TipoMov = 1
        AND SiguienteTipoMov = 0
    )

    SELECT TOP 1
        User_id,

        CONCAT
        (
            SUM(SegundosSesion) / 86400,
            ' días, ',
            (SUM(SegundosSesion) % 86400) / 3600,
            ' horas, ',
            ((SUM(SegundosSesion) % 3600) / 60),
            ' minutos, ',
            (SUM(SegundosSesion) % 60),
            ' segundos'
        ) AS TiempoTotal

    FROM Sesiones

    GROUP BY User_id

    ORDER BY SUM(SegundosSesion)

END

GO
/****** Object:  StoredProcedure [dbo].[SP_UserMostLoggedTime]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UserMostLoggedTime]
AS
BEGIN

    WITH Movimientos AS
    (
        SELECT
            User_id,
            TipoMov,
            Fecha,

            LEAD(TipoMov) OVER
            (
                PARTITION BY User_id
                ORDER BY Fecha
            ) AS SiguienteTipoMov,

            LEAD(Fecha) OVER
            (
                PARTITION BY User_id
                ORDER BY Fecha
            ) AS FechaLogout

        FROM ccloglogin
    ),

    Sesiones AS
    (
        SELECT
            User_id,
            DATEDIFF
            (
                SECOND,
                Fecha,
                FechaLogout
            ) AS SegundosSesion

        FROM Movimientos

        WHERE TipoMov = 1
        AND SiguienteTipoMov = 0
    )

    SELECT TOP 1
        User_id,

        CONCAT
        (
            SUM(SegundosSesion) / 86400,
            ' días, ',
            (SUM(SegundosSesion) % 86400) / 3600,
            ' horas, ',
            ((SUM(SegundosSesion) % 3600) / 60),
            ' minutos, ',
            (SUM(SegundosSesion) % 60),
            ' segundos'
        ) AS TiempoTotal

    FROM Sesiones

    GROUP BY User_id

    ORDER BY SUM(SegundosSesion) DESC

END
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ccloglogin]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccloglogin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[Extension] [int] NOT NULL,
	[TipoMov] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ccloglogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ccloglogin_temp]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccloglogin_temp](
	[User_id] [int] NULL,
	[Extension] [int] NULL,
	[TipoMov] [int] NULL,
	[Fecha] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ccRIACat_Areas]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccRIACat_Areas](
	[IDArea] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [nvarchar](max) NOT NULL,
	[StatusArea] [int] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ccRIACat_Areas] PRIMARY KEY CLUSTERED 
(
	[IDArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ccUsers]    Script Date: 30/05/2026 05:30:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccUsers](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NOT NULL,
	[Nombres] [nvarchar](max) NOT NULL,
	[ApellidoPaterno] [nvarchar](max) NOT NULL,
	[ApellidoMaterno] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[TipoUser] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[fCreate] [datetime2](7) NOT NULL,
	[IDArea] [int] NOT NULL,
	[LastLoginAttempt] [datetime2](7) NULL,
 CONSTRAINT [PK_ccUsers] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_ccloglogin_User_id]    Script Date: 30/05/2026 05:30:29 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_ccloglogin_User_id] ON [dbo].[ccloglogin]
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ccloglogin]  WITH NOCHECK ADD  CONSTRAINT [FK_ccloglogin_ccUsers_User_id] FOREIGN KEY([User_id])
REFERENCES [dbo].[ccUsers] ([User_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ccloglogin] CHECK CONSTRAINT [FK_ccloglogin_ccUsers_User_id]
GO
USE [master]
GO
